In [1]:
import pyodbc 
try:
    cnx = pyodbc.connect("""DRIVER={ODBC Driver 17 for SQL Server};
                            SERVER=sql04.ok.ubc.ca;
                            DATABASE=workson;UID=rlawrenc;PWD=test""")
    cursor = cnx.cursor()
    totalSalary = int(input("Enter total salary:"))
    cursor.execute("""SELECT proj.pno, SUM(salary) as totalSalary FROM proj 
                    JOIN workson ON proj.pno=workson.pno
                    JOIN emp ON workson.eno=emp.eno
                    GROUP BY proj.pno HAVING SUM(salary) > ?""", [totalSalary]) 
    for row in cursor:
        print(row)        
except pyodbc.Error as err:  
    print(err)
finally:
    cnx.close()

Enter total salary:75000
('P1   ', Decimal('80000.00'))
('P2   ', Decimal('120000.00'))
('P3   ', Decimal('80000.00'))