In [2]:
import mysql.connector
try:
    cnx = mysql.connector.connect(user='rlawrenc', password='test', host='cosc304.ok.ubc.ca', database='workson')
    cursor = cnx.cursor()
    query = ("SELECT title, AVG(salary) as avgSalary FROM emp WHERE ename >= 'J' GROUP BY title")                
    cursor.execute(query)
    for (title, avgSalary) in cursor:
        print(title, avgSalary)
    cursor.close()
except mysql.connector.Error as err:  
    print(err)
finally:
    cnx.close()

EE 30000.000000
ME 40000.000000
PR 20000.000000
SA 50000.000000