In [3]:
import mysql.connector
try:
    cnx = mysql.connector.connect(user='rlawrenc', password='test', host='cosc304.ok.ubc.ca', database='workson')
    cursor = cnx.cursor()
    query = "SELECT pno, count(*) FROM emp NATURAL JOIN workson WHERE salary < %s and ename > %s GROUP BY pno"                
    cursor.execute(query, (45000, 'L'))
    for (pno, cnt) in cursor:
        print(pno, cnt)
    cursor.close()
except mysql.connector.Error as err:  
    print(err)
finally:
    cnx.close()

P3 1
P4 1